header {
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.cabecalho {
  color: white;
  /*   padding: 3vh 3vw; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  background-color: black;
  transition: all 0.7s ease-in-out;
}

.insideCabecalho {
  margin: 0 2vw;
  padding: 18px 0vw;
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}
.insideCabecalho:hover {
  cursor: pointer;
  color: orange;
  /*   animation-name: tremer;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
}
.hamburguer {
  cursor: pointer;
  display: none;
  width: 45px;
  top: 17px;
  left: 20px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: blue;
  border-radius: 5px;
  transition: 0.3s ease;
  margin: 2px 0 2px 0px;
}

@media screen and (max-width: 540px) {
  .change #bar1 {
    transform: translateY(7px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-10px) rotateZ(45deg);
  }

  .cabecalho div:not(:nth-of-type(1)) {
    display: none;
  }
  .hamburguer {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .cabecalho {
    justify-content: flex-start;
  }

  .cabecalhoExpandido {
    /*     position: fixed; */
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 230px;
    background-color: rgb(78, 78, 78);
    border-radius: 0 50px 50px 10px;
    transition: all 0.7s ease-in-out;
    padding-top: 50px;
  }
  .cabecalho.cabecalhoExpandido div {
    display: flex;
  }
}
