.secAreaDeInteresse {
  background-color: black;
  color: white;
}

.subTitulo {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20vh 0 0 0;
  font-size: 40px;
  margin: 0;
}

.containerInteressePrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  transition: all 0.7s ease-in-out;
}

.interessePrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.imagemInteressePrincipal {
  transition: all 0.7s ease-in-out;
}

.imagemProgramador {
  width: 400px;
}

.imagemProgramador:hover {
  width: 600px;
}

.imagemOceanografia {
  width: 300px;
}

.imagemOceanografia:hover {
  width: 450px;
}

@media screen and (max-width: 800px) {
  .containerInteressePrincipal {
    height: 200px;
  }

  .imagemProgramador {
    width: 100px;
  }
  .imagemProgramador:hover {
    width: 130px;
  }
  .imagemOceanografia {
    width: 80px;
  }
  .imagemOceanografia:hover {
    width: 100px;
  }

  h2 {
    font-size: 15px;
  }
}
