.secAreaDeInteresse {
  background-color: black;
  color: white;
}

.subTitulo {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20vh 0 0 0;
  font-size: 40px;
  margin: 0;
}

.containerInteressePrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  transition: all 0.7s ease-in-out;
}

.interessePrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.imagemInteressePrincipal {
  transition: all 0.7s ease-in-out;
}

.imagemProgramador {
  width: 400px;
  cursor: pointer;
}

.imagemProgramador:hover {
  width: 500px;
}

.imagemOceanografia {
  width: 300px;
  cursor: pointer;
}

.imagemOceanografia:hover {
  width: 380px;
}

@media screen and (max-width: 800px) {
  .containerInteressePrincipal {
    height: 200px;
  }

  .imagemProgramador {
    width: 100px;
  }
  .imagemProgramador:hover {
    width: 130px;
  }
  .imagemOceanografia {
    width: 80px;
  }
  .imagemOceanografia:hover {
    width: 100px;
  }

  h2 {
    font-size: 15px;
  }
}
.containerInteresseIndividual {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
  position: absolute;
}
.entrando {
  display: flex;
  transition: 2s;
  left: 10px;
  animation: entrando 2s forwards;
}

@keyframes entrando {
  from {
    left: -100vw;
    opacity: 0;
  }
  100% {
    left: 0vw;
    opacity: 1;
  }
}

.saindo {
  display: flex;
  transition: 2s;
  animation: saindo 2s forwards;
  animation-fill-mode: forwards;
}

@keyframes saindo {
  from {
    left: 0vw;
    opacity: 1;
  }
  50% {
    left: 80vw;
    opacity: 0;
  }
  100% {
    left: 60vw;
    position: absolute;
    opacity: 0;
    display: none;
  }
  /*  100% {
  } */
}
