@import url("https://fonts.googleapis.com/css?family=Silkscreen&effect=shadow-multiple");
.fonteSilkscreen {
  font-family: "Silkscreen";
  font-size: 30px;
}

@import url("https://fonts.googleapis.com/css?family=Dancing+Script:b&effect=outline");
.fonteTheNautigal {
  font-family: "Dancing Script";
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Akaya+Telivigala&effect=shadow-multiple");
.fonteAkayaTelivigala {
  font-family: "Akaya Telivigala";
  font-size: 30px;
}

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
.fontePacifico {
  font-family: "Abril Fatface";
  font-size: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Righteous");
.fonteRighteous {
  font-family: "Righteous";
  font-size: 80px;
}

@media screen and (max-width: 720px) {
  .fonteRighteous {
    font-size: 50px;
  }
  .fontePacifico {
    font-size: 20px;
  }
  .fonteAkayaTelivigala,
  .fonteSilkscreen {
    font-size: 20px;
  }
}
