.containerSobre {
  display: flex;
  align-items: center;
  text-align: start;
  text-justify: inter-word;
  text-indent: 25px;
  color: rgb(255, 255, 255, 0.8);
  font-size: 25px;
  line-height: 35px;
}

.containerSobre a {
  color: rgb(255, 255, 255, 0.8);
}

.fotoLeandro {
  height: 500px;
  margin: 2vh 5vw 2vh 0;
}

.tituloSobre {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 30px 0 0 0;
  font-size: 40px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .fotoLeandro {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .containerSobre {
    font-size: 20px;
  }
}
